* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 14px;
  color: #6b6b6b;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
  }

  p {
    line-height: 30px;
  }

  ul {
    margin: 0;
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}

.container {
  width: 19cm; /* A4 页面宽度 */
  height: auto;
  margin: 0 auto;
  padding: 1cm;
  border: 1px solid #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #087cc1;
  padding-bottom: 10px;

  .header-content {
    > h1 {
      margin-bottom: 16px;
    }

    > .part {
      width: 15cm;
      margin-bottom: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .one.part {
      width: 12cm;
    }

    .two.part {
      width: 6cm;
    }

    .three.part {
      width: 14cm;
    }
  }

  > img {
    width: 120px;
  }

  h1 {
    font-size: 2em;
    margin: 0;
  }

  p {
    margin: 5px 0;
  }
}

.section {
  margin-top: 30px;

  h2 {
    position: relative;
    display: inline-block;
    width: 18cm;
    padding-left: 1cm;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    color: #087cc1;

    &::before {
      content: "";
      width: 4px;
      height: 4px;
      padding: 4px;
      border: 10px solid #087cc1;
      border-radius: 50%;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &::after {
      content: "";
      width: 18cm;
      border-bottom: 2px solid #087cc1;
      // background-color: #087cc1;
      position: absolute;
      left: 1cm;
      bottom: 0;
    }
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #087cc1;
  }

  h3:first-of-type {
    margin-top: 0px;
  }
}

// pdf分割线
.line {
  position: absolute;
  width: 100%;
  height: 2px;
  border-top: 2px dashed pink;
  left: 0;
}

/* 打印 */
@media print {
  html {
    width: 19cm; /* A4 页面宽度 */
    height: 29.7cm; /* A4 页面高度 */
    // margin: 1cm auto;
    padding: 0 1cm;
    font-size: 0.9rem;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none !important;
  }

  .line {
    display: none;
  }

  table,
  pre {
    page-break-inside: avoid;
  }

  pre {
    word-wrap: break-word;
  }

  #write {
    max-width: 100%;
  }

  @page {
    size: A4;
    /* PDF output size */
    margin-left: 0;
    margin-right: 0;
  }
}
