* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, sans-serif;
  color: #6b6b6b;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
  }

  p {
    line-height: 1.75;
  }

  ul {
    margin: 0;

    li {
      line-height: 1.75;
    }
  }

  body {
    background: url(../img/body_bg.png) #f5f7fa;
  }
}

/* 简历盒子样式 */
#resumeBox {
  width: 19cm; /* A4 页面宽度 */
  width: 44.875rem; /* A4 页面宽度 */
  height: auto;
  min-height: 25.7cm; /* A4 页面高度 */
  margin: 0 auto;
  padding: 1cm;
  border: 0.0625rem solid #ccc;
  background-color: white;
  line-height: 1.6;
  font-size: 0.875rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 0.25rem solid #087cc1;
  border-bottom: 0.25rem solid #33ccbb;
  padding-bottom: 0.625rem;
  margin-bottom: 1.25rem;

  .header-left {
    flex-grow: 1;
  }

  .header-content {
    h1 {
      line-height: 3.75rem;
    }

    p {
      line-height: 1.875;
    }
  }

  #avatar {
    img {
      max-width: 7.5rem;
      max-height: 10.5rem;
      border: 0.0625rem solid skyblue;
      cursor: pointer;
    }
  }
}

.section {
  position: relative;
  margin-top: 1rem;
  // transition: transform 0.3s ease;

  h2 {
    position: relative;
    font-size: 1.375rem;
    color: #000;
    // font-weight: 500;
    margin-bottom: 0.375rem;
    color: var(--before-color, #33ccbb);
  }
  /* 为 h2 标签定义不同的样式 */
  h2.style-1 {
    position: relative;
    display: inline-block;
    width: 18cm;
    width: 42.5rem;
    padding-left: 1cm;
    padding-left: 37.8px;
    margin-bottom: 1rem;
    color: var(--before-color, #33ccbb);

    &::before {
      content: "";
      width: 0.25rem;
      height: 0.25rem;
      padding: 0.25rem;
      // border: 0.625rem solid #087cc1;
      border: 0.625rem solid var(--before-color, #33ccbb);
      border-radius: 50%;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &::after {
      content: "";
      width: 18cm;
      width: 42.5rem;
      border-bottom: 0.125rem solid var(--after-color, #33ccbb);
      // background-color: #087cc1;
      position: absolute;
      left: 1cm;
      bottom: 0;
    }
  }

  h2.style-2 {
    border-bottom: 0.125rem solid var(--after-color, #087cc1);
  }

  h2.style-3 {
    padding-left: 0.5rem;
    border-left: 0.5rem solid var(--after-color, #087cc1);
  }

  h2.style-4 {
    padding-left: 0.5rem;
    border-left: 0.5rem solid var(--after-color, #087cc1);
    z-index: 10;
    background-color: #ecf1fe;
  }

  h2.style-5 {
    display: inline-block;
    padding: 0 0.75rem;
    background-color: var(--after-color, #436eee);
    color: #fff !important;

    &::after {
      content: "";
      width: 18cm;
      border-bottom: 0.125rem solid var(--after-color, #087cc1);
      position: absolute;
      left: 1cm;
      bottom: 0;
    }
  }

  h3 {
    line-height: 2rem;
    color: var(--after-color, #000);
    // margin-top: 3.125rem;
  }

  .control-btns {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 260px;
    height: 32px;
    user-select: none;

    >div {
      height: 32px;
      padding: 0px 16px;
      margin-left: 10px;
      line-height: 32px;
      text-align: center;
      border-radius: 0.625rem;
      cursor: pointer;
      z-index: 999;
      color: #fdeff2;
    }

    /* 删除按钮样式 */
    .delete-btn {
      background-color: #e9546b;
      background-color: #FF0000;
      color: #fff;
      /* margin-left: 0.625rem; */
    }

    /* 向上按钮的样式 */
    .up-btn {
      background-color: #0095d9;
      color: #fdeff2;
    }

    /* 向下按钮的样式 */
    .down-btn {
      background-color: #f19072;
      color: #fdeff2;
    }
  }
 
  &:hover .control-btns {
    // display: block;
    visibility: visible;
  }
}

/* 操作面板样式 */
#operation-panel {
  height: calc(100% - 2.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button {
    width: 48%;
    padding: 0.625rem;
    margin: 0 1%;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  button.confirm {
    background-color: green;
    color: white;
  }

  button.cancel {
    background-color: red;
    color: white;
  }

  .operation-item {
    > span {
      display: block;
      font-weight: 700;
      font-size: 0.875rem;
      color: #000;
      margin-bottom: 0.25rem;
    }

    .h2-style-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .color-HEX-picker {
        width: 6.25rem;
        // height: 2.5rem;
        // border: 0.0625rem solid #ccc;

        > input {
          width: calc(100% - 1.25rem);
          height: 100%;
          padding: 0.5rem 0.625rem;
          font-size: 1.125rem;
        }
      }

      .color-picker {
        label {
          color: #000;
          font-weight: bold;
          margin-right: 0.625rem;
        }

        input[type="color"] {
          height: 2.5rem;
          font-size: 1rem;
          // margin-right: 0.625rem;
          padding: 0.3125rem;
        }

        button {
          font-size: 1rem;
          padding: 0.3125rem 0.625rem;
          cursor: pointer;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 0.25rem;
        }

        button:hover {
          background-color: #0056b3;
        }
      }
    }

    .add-section-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button.confirm {
        width: 20%;
        padding: 0.625rem;
        margin: 0 1%;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        background-color: green;
        color: white;
      }

      input {
        width: 80%;
        padding: 0.625rem;
        background-color: #ecf1fe;
        border: none;
        border-radius: 0.25rem;
      }
    }

    .example-language {
      width: 98%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.left-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 18.75rem;
  height: 100%;
  padding: 1.25rem;
  background-color: #fff;
  color: white;
  box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  user-select: none;
  white-space: nowrap;
  transition: width 0.3s ease, padding 0.3s ease;

  .collapse-panel {
    width: 3.125rem;
    height: 7.5rem;
    padding: 1.25rem 0 1.875rem;
    background-color: #fff;
    border-radius: 0 1.25rem 1.25rem 0;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    right: -3.125rem;
    transform: translateY(-50%);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    // text-align: center;
    // line-height: 3.125rem;
    writing-mode: vertical-rl;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .ReimuHakurei {
    position: absolute;
    top: 50%;
    right: 0rem;
    display: none;
    transform: translateY(-50%);
    color: black;
    text-align: center;
    line-height: 3.125rem;
    writing-mode: vertical-rl;
    cursor: pointer;
    transition: right 0.3s ease;
  }
}

.right-container {
  width: calc(100% - 21.25rem);
  margin-left: 21.25rem;
  transition: width 0.3s ease, margin-left 0.3s ease;
}

/* 弹窗遮罩层样式 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 100;
}

/* 弹窗样式 */
.confirm-dialog {
  background-color: #fff;
  padding: 1.25rem 2.5rem;
  border-radius: 0.5rem;
  // width: 18.75rem;
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.3);
  text-align: center;
  opacity: 0;
  animation: fadeInDialog 0.3s ease-in-out forwards;
  z-index: 200;

  p {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0.625rem 0 1.875rem;
  }

  .btn-box {
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* 按钮样式 */
    button {
      width: 49%;
      padding: 0.625rem 1.25rem;
      border: none;
      background-color: #f44336;
      color: #fff;
      cursor: pointer;
      border-radius: 0.25rem;
    }

    button.cancel {
      background-color: #888;
    }
  }
}

/* 动画 - 弹窗出现 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDialog {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* 动画 - 弹窗消失 */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}

@keyframes fadeOutOverlay {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// pdf分割线
.pne {
  position: absolute;
  width: 100%;
  height: 0.125rem;
  border-top: 0.125rem dashed pink;
  left: 0;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  width: 7.5rem;
  color: #000;

  .dropdown-button {
    width: 6.25rem;
    padding: 0.625rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    background: #fff;
    cursor: pointer;
    position: relative;
    &::after {
      content: "▼";
      position: absolute;
      right: 0.625rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 18.75rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    background: #fff;
    overflow: auto;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;

    .roleDropdown-option,
    .dropdown-option,
    .langDropdown-option {
      padding: 0.625rem;
      cursor: pointer;
    }
    .roleDropdown-option:hover,
    .dropdown-option:hover,
    .langDropdown-option:hover {
      background: #f0f0f0;
    }
  }

  .dropdown-options.open {
    opacity: 1;
    transform: scaleY(1);
  }

  .dropdown-options.close {
    opacity: 0;
    transform: scaleY(0);
  }
}

.dropdown.roleDropdown {
  width: 10rem;
  .dropdown-button {
    width: 8.75rem;
    padding: 0.625rem;
  }
}

.dropdown.langDropdown {
  width: 7.5rem;
  .dropdown-button {
    width: 6.25rem;
    padding: 0.625rem;
  }
}

/* 进度条样式 */
.progress-container {
  position: relative;
  width: 90%;
  height: 0.625rem;
  background: #f5f7fa;
  margin: 1.25rem auto;

  .progress-bar {
    width: 100%;
    height: 100%;
    appearance: none;
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* 保证滑动条在上层 */

    &::-webkit-slider-runnable-track {
      height: 100%;
      background: transparent;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 0.9375rem;
      height: 1.875rem;
      transform: translateY(-0.625rem);
      background: var(--thumb-background-color, #33ccbb);
      // border-radius: 50%;
      cursor: pointer;
    }

    &::-moz-range-track {
      height: 100%;
      background: transparent;
    }

    &::-moz-range-thumb {
      width: 0.9375rem;
      height: 0.9375rem;
      background: var(--thumb-background-color, #33ccbb);
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .progress-track {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    // background-color: #33cc33;
    background-image: linear-gradient(
      to right,
      #eea2a2 0%,
      #bbc1bf 19%,
      #57c6e1 42%,
      #b49fda 79%,
      #7ac5d8 100%
    );
    border-radius: 0.3125rem;
    z-index: 1; /* 进度条背景在下层 */

    .progress-value {
      position: absolute;
      // top: -1.875rem;
      // left: 0;
      top: -2.1875rem;
      right: -0.9375rem;
      width: 1.875rem;
      height: 1.25rem;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      text-align: center;
      line-height: 1.25rem;
      border-radius: 0.3125rem;
      font-size: 0.75rem;
      z-index: 4;
    }
  }
}

/* 媒体查询 */
@media (min-width: 2000px) {
  html {
    font-size: 20px; /* 最大字体大小 */
  }
}
/* 当屏幕宽度小于 768px 时 */
@media (max-width: 1200px) {
  html {
    font-size: 14px; /* 基准 1rem = 14px */
  }
}

/* 当屏幕宽度小于 480px 时 */
@media (max-width: 1000px) {
  html {
    font-size: 12px; /* 基准 1rem = 12px */
  }
}

/* 打印 */
@media print {
  html {
    width: 19cm; /* A4 页面宽度 */
    height: 29.7cm; /* A4 页面高度 */
    // margin: 1cm auto;
    padding: 0 1cm;
    font-size: 16px !important;
  }

  body {
    background: none !important;
  }

  .right-container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;

    #resumeBox {
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
      border: none !important;
    }
  }

  .left-container,
  #operation-panel,
  .pne {
    display: none;
  }

  table,
  pre {
    page-break-inside: avoid;
  }

  pre {
    word-wrap: break-word;
  }

  #write {
    max-width: 100%;
  }

  @page {
    size: A4;
    /* PDF output size */
    margin-left: 0;
    margin-right: 0;
  }
}
