* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 14px;
  color: #6b6b6b;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
  }

  p {
    line-height: 1.75;
  }

  ul {
    margin: 0;
    padding-left: 20px;

    li {
      line-height: 1.75;
    }
  }

  body {
    background: url(../img/body_bg.png) #f5f7fa;
  }
}

.container {
  width: 19cm; /* A4 页面宽度 */
  height: auto;
  margin: 0 auto;
  padding: 1cm;
  border: 1px solid #ccc;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 4px solid #087cc1;
  border-bottom: 4px solid #33ccbb;
  padding-bottom: 10px;
  margin-bottom: 30px;

  .header-left {
    flex-grow: 1;
  }

  .header-content {
    h1 {
      line-height: 60px;
    }

    p {
      line-height: 1.875;
    }
  }

  #avatar {
    img {
      max-width: 120px;
      max-height: 168px;
      border: 1px solid skyblue;
      cursor: pointer;
    }
  }
}

.section {
  position: relative;
  margin-top: 16px;

  h2 {
    position: relative;
    font-size: 22px;
    color: #000;
    // font-weight: 500;
    margin-bottom: 6px;
    color: var(--before-color, #33ccbb);
  }
  /* 为 h2 标签定义不同的样式 */
  h2.style-1 {
    position: relative;
    display: inline-block;
    width: 18cm;
    padding-left: 1cm;
    margin-bottom: 16px;
    color: var(--before-color, #33ccbb);

    &::before {
      content: "";
      width: 4px;
      height: 4px;
      padding: 4px;
      // border: 10px solid #087cc1;
      border: 10px solid var(--before-color, #33ccbb);
      border-radius: 50%;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &::after {
      content: "";
      width: 18cm;
      border-bottom: 2px solid var(--after-color, #33ccbb);
      // background-color: #087cc1;
      position: absolute;
      left: 1cm;
      bottom: 0;
    }
  }

  h2.style-2 {
    border-bottom: 2px solid var(--after-color, #087cc1);
  }

  h2.style-3 {
    padding-left: 8px;
    border-left: 8px solid var(--after-color, #087cc1);
  }

  h2.style-4 {
    padding-left: 8px;
    border-left: 8px solid var(--after-color, #087cc1);
    z-index: 10;
    background-color: #ecf1fe;
  }

  h2.style-5 {
    display: inline-block;
    padding: 0 12px;
    background-color: var(--after-color, #436eee);
    color: #fff !important;

    &::after {
      content: "";
      width: 18cm;
      border-bottom: 2px solid var(--after-color, #087cc1);
      position: absolute;
      left: 1cm;
      bottom: 0;
    }
  }

  h3 {
    line-height: 32px;
    color: var(--after-color, #000);
    // margin-top: 50px;
  }

  /* 删除按钮样式 */
  .delete-btn {
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    background-color: skyblue;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    color: red;
    cursor: pointer;
    /* margin-left: 10px; */
  }

  &:hover .delete-btn {
    display: block;
  }
}

/* 操作面板样式 */
#operation-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: calc(100% - 40px);
  padding: 20px;
  background-color: #fff;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  user-select: none;

  .btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button {
    width: 48%;
    padding: 10px;
    margin: 0 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button.confirm {
    background-color: green;
    color: white;
  }

  button.cancel {
    background-color: red;
    color: white;
  }

  .operation-item {
    margin-bottom: 16px;

    > span {
      display: block;
      font-size: 14px;
      color: #000;
      margin-bottom: 4px;
    }

    .h2-style-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .color-picker {
        // margin-bottom: 20px;
        label {
          color: #000;
          font-weight: bold;
          margin-right: 10px;
        }

        input[type="color"],
        input[type="text"] {
          height: 40px;
          font-size: 16px;
          margin-right: 10px;
          padding: 5px;
        }

        button {
          font-size: 16px;
          padding: 5px 10px;
          cursor: pointer;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 4px;
        }

        button:hover {
          background-color: #0056b3;
        }
      }
    }

    .add-section-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button.confirm {
        width: 20%;
        padding: 10px;
        margin: 0 1%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: green;
        color: white;
      }

      input {
        width: 80%;
        padding: 10px;
        background-color: #ecf1fe;
        border: none;
        border-radius: 4px;
      }
    }
  }
}

/* 弹窗遮罩层样式 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

/* 弹窗样式 */
.confirm-dialog {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  // width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  opacity: 0;
  animation: fadeInDialog 0.3s ease-in-out forwards;

  p {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 30px;
  }

  .btn-box {
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* 按钮样式 */
    button {
      width: 49%;
      padding: 10px 20px;
      border: none;
      background-color: #f44336;
      color: #fff;
      cursor: pointer;
      border-radius: 4px;
    }

    button.cancel {
      background-color: #888;
    }
  }
}

/* 动画 - 弹窗出现 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDialog {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* 动画 - 弹窗消失 */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}

@keyframes fadeOutOverlay {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// pdf分割线
.pne {
  position: absolute;
  width: 100%;
  height: 2px;
  border-top: 2px dashed pink;
  left: 0;
}

/* 打印 */
@media print {
  html {
    width: 19cm; /* A4 页面宽度 */
    height: 29.7cm; /* A4 页面高度 */
    // margin: 1cm auto;
    padding: 0 1cm;
    font-size: 0.9rem;
  }

  body {
    background: none !important;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none !important;
  }

  #operation-panel,
  .pne {
    display: none;
  }

  table,
  pre {
    page-break-inside: avoid;
  }

  pre {
    word-wrap: break-word;
  }

  #write {
    max-width: 100%;
  }

  @page {
    size: A4;
    /* PDF output size */
    margin-left: 0;
    margin-right: 0;
  }
}

/* Dropdown styles */
.dropdown {
  position: relative;
  width: 200px;
  color: #000;

  .dropdown-button {
    width: 180px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    position: relative;
    &::after {
      content: "▼";
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 260px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    overflow: auto;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;

    .roleDropdown-option,
    .dropdown-option {
      padding: 10px;
      cursor: pointer;
    }
    .roleDropdown-option:hover,
    .dropdown-option:hover {
      background: #f0f0f0;
    }
  }

  .dropdown-options.open {
    opacity: 1;
    transform: scaleY(1);
  }

  .dropdown-options.close {
    opacity: 0;
    transform: scaleY(0);
  }
}
